<div class="wrapper-image">
  <div class="yellow-card text-center">

    <%= cl_image_tag(@cocktail.photo, :format => :png, :transformation=>[:height=>150, :radius=>20, :width=>150, :crop=>"fill"]) %>
  <h1><%= @cocktail.name %><%= link_to @cocktail, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="fa fa-trash-o"></i>
      <% end %>
</h1>
  <ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
    <%= dose.description %> of <%= Ingredient.find(dose.ingredient_id).name %>
    <%= link_to dose, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="fa fa-trash-o"></i>
      <% end %>
    </li>
  <% end %>
  </ul>
    <div class="card-white">
      <p> Add a dose </p>
      <%= render 'form_dose' %>
    </div>
    <div class="card-white">
      <p> Add a review </p>
      <%= render 'form_review' %>
    </div>
  </div>
  <div class="review">
  <ul>
  <% @cocktail.reviews.each do |review| %>
    <li>
    <%= review.content %><% review.rating.times do %>
      <i class="fa fa-star"></i>
      <% end %>

    </li>
  <% end %>
  </ul>
  </div>
  <div>
      <%= link_to "<< Back", cocktails_path, class:"btn btn-info btn-lg dark-blue" %>
  </div>

  </div>
</div>
